<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title> <meta charset="UTF-8"/>
        <link href-"/css/menu.css" rel-"stylesheet" type-"text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#(articulo.titulo) " Listado de Clientes</h2>
            <a th:href="@(/articulo/nuevo)" th:text="#[articulo.nuevo)" Nueva Articulo</a>
            <div th:if="$ (articulos != null and !articulos.empty}">
                <table border-"1">
                    <thead> <tr>
                             <th th:text="#{articulo.descripcion]"> Descripcion</th>
                             <th th:text="#{articulo.precio) ">Preci</th>
                             <th th:text="#{articulo.existencias}">Existencias</th>
                             <th th:text="#{articulo.activo}">Activa</th>
                             <th th:text="#{accion.eliminar} ">Eli</th>
                             <th th:text="#{accion.actualizar)">Act </th>
                         </tr> </thead>
                    <tbody> <tr th:each="articulo : $(articulos)">
                             <td th:text="$[articulo.descripcion}"></td>
                             <td th:text="$(#numbers.formatDecimal (articulo.precio, 3,2)}"
                                 style="text-align: right"X/td>
                             <td th:text="${articulo.existencias}"
                                 style="text-align: center"></td>
                             <td><input type="checkbox" name="activa" th:checked="${articulo.activo)" disabled="true"></td>
                             <td><a th:href-"@[/articulo/eliminar/] + $(articulo.idArticulo]"
                                    th:text="#(accion.eliminar) ">Eliminar</a></td>
                             <td><e E 7LL rticulol"
                                    th:text="#(accion.actualizar}">Modificar</a></td>
                         </tr> </tbody>
                </table>
            </div>
            <div th:if-"Slarticulos = null or articulos.emptv) ">
                <p th:text="(articulo.no_mostrar)">No tenemos articulos que mostrar...</p>
            </aiv>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
</html>
