<!DOCTYPE html>
<html xmlns:th="http://w.thymeleaf.org" xmlns="http://ww.w3.org/1999/xhtml"
    <head>
        <title>TechShop</title> <meta charset="UTF-8"/>
        <link href="/css/menu.ess" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#{articulo.datos}">Datos de Cliente</h2>
<a th:href="@(/articulo/1istado)" th:text="#(accion.regresar}" Regresar</a>
<br/><br/>
<form th:action="@{/articulo/guardar}" method="post" th:object="${articulo}">
    <input type="hidden" name="idArticulo" th:field="* (idArticulo}"/><br/>
    <label for="categoria" th:text="#(articulo.categoria}">Categoria:</label>
    <select th:field="* {idCategoria}">
         <option th:each="categoria: $(categorias}"
                   th:value="s(categoria.idCategoria}"
                   th:text="(categoria.descripcion}"/>
    </select><br/>
    <label for="descripcion" th:text="#{articulo.descripcion}">Descripcion:</label>
<input type="text" name="descripcicn" th:field="{descripcion}"/><br >
<label for="detall:" th:text="#{articulo.detalle}">I etalle:</label>
<textarea name-"detalle" th:field=" (detalle}" rows="E" cols="50"/><br/>
<label for="precio th:text="#{articulo.precio}">Pr cio:</label>
<input type="number" name="precio" th:field="* {precio}"/><br/>
<label for="existencias" h:text="#{articulo.existencias}" Existencias:</label>
<input type="number" name="existencias" th:field="*{existencias}"/><br/>
<label for="activo th:text="#{articulo.activo}">Act ivo:</label>
<input type="checkbox" name="activo" th:field="(activo}"/><br/><br/>
<button type="submit' =" name="guadar" th:text="# (accion.guardar)"/>
</form>
</div>
<footer th:replace="layout/plantilla :: footer"/>
</body>
</html>