<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml'
    <head>
        <title>TechShop</title> <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
                                                                    </head>
    <body>
        <header th:replace-"layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#(categoria.titulo}" Listado de Clientes</h2>
            <a th:href-"@{/categoria/nueva}" th:text="#{categoria.nuevo}"> nueva Categoria</a>
            <div th:if="${categorias != null ana !categorias. empty}">
                <table border="1">
                    <thead> <tr>
                            <th th:text="#(categoría.descripcion}" Descripcion</th>
<th th:text="#{categoria.activo} ">Acti ra</th>
<th th:text="#{accion.eliminar}">Elimi nar</th>
<th th:text="#{accion.actualizar}">Act ializar</th>
</tr>
</thead>
<tbody>
    <tr th:each="categoria : ${categorias}">
    <td th:text="${categoria.descripcion}"></td>
    <td><input type="checkbox" name="activa" th:checked="${categoria.activo}" disabled="true"></td>
    <td><a th:href="e{/categoria/eliminar/} + ${categoria.idCategoria}"
            th:text="# (accion.eliminar}">Eliminar</a></td>
    <td><a th:href="@(/categoria/modificar/} + ${categoria.idCategoria)"
            th:text="#{accion.actualizar}"> fodificar</a></td>
            </tr>
</tbody>
</table>
</div>
<di the 4f LCAtegorias null or categorias.empty}">
<p th:text="#(categoria.no_mostrar}">NO tenemos categorias que mostrar...</p>
</div>
</div>
<footer th:replace="layout/plantilla :: footer"/>
</body>
</html>