#ecabezado {
    position: absolute;
    top: 0;
    left:0;
    height:8%;
    width: 100%;
    background-color:blue;
    color: white
}
#menu {
    position: absolute;
    top: 8%;
    left:0;
    height:4%;
    width: 100%;
    background-color:black;
    color: white
}

#ecabezado h1{
    display: inline;
}

#menu a {

    background-color: red;
    color:white;
}

#menu a:hover {

    background-color: white;
    color:red;
}

#barralateral {
    padding: 10px;
    position: absolute;
    top: 12%;
    left:0;
    height:84%;
    width: 20%;
    background-color: #99ff00;

}

#contenido {
    padding: 10px;
    position: absolute;
    top: 12%;
    left:20%;
    height:84%;
    width: 80%;
    background-color:whitesmoke;
    overflow:auto;

}

#contenido article {
    background-color: darkgray;
}

#encabezadoTabla {
    background-color: blue;
    color: white;

}

#detalleTabla tr:nth-child(odd){
    background-color: coral;
    color: blue;
}
#detalleTabla tr:nth-child(even){
    background-color: greenyellow;
    color: black;
}

#piepagina {
    position: absolute;
    bottom: 0;
    left:0;
    height:4%;
    width: 100%;
    background-color:burlywood;
    text-align: center;

}