<!DOCTYPE html>
khtml xmlns: th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml'
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="nav">
                <a th:href-"@ (/}" class="logo nav-link">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a th:href="@{/cliente/listado)" class="nav-menu-link nav-link"
                            th:text="#{plantilla.clientes) ">Clientis</a>
                    </li>
                    <li class="nav-menu-item">
                         <a th:href="@[/categoria/listado)" class="nav-menu-link nav-link"
                            th:text="#{plantilla.categorias}">Categora</a>
                     </li>
                    <li class="nav-menu-item">
                         <a th:href="@(/articulo/listado]" class="nav-menu-link nav-link"
                            th:text="#{plantilla.articulos}">Articulos</a>
                     </li>
                </ul>
            </nav>
        </header>
        <footer th:fragment="footer" class="footer">
            <p>&COPY [[+ (plantilla.derechos}]]
                <a th:href="@ {/ (lang=es)}">ES</a> I
                <a th:href="@{/ (lang=en) }">EN</a></p>
        </footer>
    </body>
</html>